<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AupRename.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AupRename.Properties.Settings>
            <setting name="Editor" serializeAs="String">
                <value>notepad.exe</value>
            </setting>
            <setting name="EnableVideo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableImage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableAudio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableWaveform" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableShadow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableBorder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableVideoComposition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableImageComposition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableFigure" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableMask" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableDisplacement" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnablePartialFilter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableScript" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsUpgrade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnablePsdToolKit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
        </AupRename.Properties.Settings>
    </userSettings>
</configuration>